ion-segment {
  margin-bottom: 16px;
}

ion-item-divider {
  font-weight: bold;
  --background: transparent;
  color: var(--ion-color-dark);
  font-size: 18px;
}

@media (min-width: 992px) {
  ion-fab {
    position: fixed;
    top: calc(100vh - 64px);
    right: 8px;
  }

  ion-card {
    max-width: 1000px;
    margin: 0 auto;
  }
}
