@use "./assets/styles/variables.scss";

@import "@ionic/angular/css/core.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import '../node_modules/angular-calendar/css/angular-calendar.css';


ion-content {
  --background: var(--ion-color-light);
}

ion-card {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

ion-card-title {
  color: var(--ion-color-primary);
  font-weight: 600;
}

body.dark ion-content {
  --background: radial-gradient(circle, #1e1e1e 0%, #121212 100%);
}

body.dark ion-card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

:root {
  ion-toolbar, ion-tab-bar {
    --background: var(--ion-color-light);
  }

  ion-header {
    box-shadow: none;
  }
}

@media (min-width: 992px) {
  .tabs-container {
    &:has(.page-wrapper) {
      ion-header {
        left: var(--menu-collapsed-width);
        position: fixed;
        width: calc(100vw - var(--menu-collapsed-width));
        transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
      }

      .page-wrapper {
        top: var(--header-height);
        left: var(--menu-collapsed-width);
        width: calc(100vw - var(--menu-collapsed-width));
        position: fixed;
        max-height: calc(100vh - var(--header-height));
        overflow-y: auto;
        transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
        padding: 16px;
        background: var(--ion-color-light);

        .page-content {
          // border: 1px solid #000;
          border-radius: 20px;
          padding: 16px;
          background: #fff;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        }

        &.has-searchbar {
          top: calc(var(--header-height) + var(--searchbar-height));
          max-height: calc(
            100vh - calc(var(--header-height) + var(--searchbar-height))
          );
        }
      }
    }

    &.expanded {
      &:has(.page-wrapper) {
        ion-header {
          left: var(--menu-expanded-width);
          width: calc(100vw - var(--menu-expanded-width));
        }

        .page-wrapper {
          left: var(--menu-expanded-width);
          width: calc(100vw - var(--menu-expanded-width));
        }
      }
    }
  }
}
