.comment-date {
  font-size: 0.75rem;
  color: var(--ion-color-medium);
  margin: 4px 0;
}

.comment-text {
  line-height: 1.4;
  margin-top: 4px;
}

ion-card[ng-reflect-ng-if] + ion-card {
  margin-top: 24px;
}

ion-list[lines="full"] ion-item {
  align-items: flex-start;
}
