.tabs-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;

  &.desktop {
    flex-direction: row;
  }

  &.expanded {
    .ion-tab-bar.vertical {
      width: var(--menu-expanded-width);

      ion-tab-button {
        padding-left: 16px;

        ion-icon {
          font-size: 24px !important;
          --ionicon-width: 24px !important;
          --ionicon-height: 24px !important;
        }
      }

      ion-button {
        margin: 0;
      }

      ion-tab-button ion-label {
        max-width: none;
        opacity: 1;
      }
    }
  }
}

ion-tabs {
  height: 100%;
  width: 100%;
}

.ion-tab-bar.vertical {
  position: relative;
  padding-top: 56px;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: var(--menu-collapsed-width);
  transition: width 0.3s ease-in-out;

  ion-button {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    z-index: 10;
  }

  ion-tab-button {
    height: 56px;
    justify-content: flex-start;
    padding-left: 10px;
    width: 100%;
    transition: padding-left 0.3s ease-in-out;

    ion-icon {
      font-size: 24px !important;
      --ionicon-width: 24px !important;
      --ionicon-height: 24px !important;
      min-width: 24px !important;
      min-height: 24px !important;
      transition: none;
    }

    ion-label {
      opacity: 0;
      max-width: 0;
      transition: max-width opacity 0.3s ease-in-out;
    }
  }
}
