<ion-content>
  <div
    class="tabs-container"
    [class.desktop]="isDesktop"
  >
    <ion-tabs>
      <ion-tab-bar
        [slot]="isDesktop ? 'start' : 'bottom'"
        class="ion-tab-bar"
        [class.desktop]="isDesktop"
      >
        <ion-tab-button
          *ngFor="let tab of tabs"
          [tab]="tab.id"
          color="primary"
          layout="icon-start"
        >
          <ion-icon [name]="tab.icon"></ion-icon>
          <ion-label *ngIf="isDesktop">
            {{tab.label}}
          </ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-content>
