<ion-content>
  <div
    class="tabs-container"
    [class.desktop]="isDesktop"
    [class.expanded]="expanded"
  >
    <ion-tabs>
      <ion-tab-bar
        [slot]="isDesktop ? 'start' : 'bottom'"
        class="ion-tab-bar"
        [class.vertical]="isDesktop"
      >
        <ion-button *ngIf="isDesktop" (click)="expanded = !expanded"
          ><ion-icon name="menu-outline"></ion-icon
        ></ion-button>
        <ion-tab-button
          *ngFor="let tab of tabs"
          [tab]="tab.id"
          [layout]="isDesktop ? 'icon-start' : 'icon-top'"
        >
          <ion-icon [name]="tab.icon"></ion-icon>
          <ion-label *ngIf="isDesktop && expanded">{{tab.label}}</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-content>
