<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" class="ion-text-center">
        <ion-avatar class="profile-avatar">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Profile Picture">
        </ion-avatar>
        <h2 class="ion-margin-top">{{profile.name}}</h2>
        <p>{{profile.dateOfBirth}}</p>
      </ion-col>
      
      <ion-col size="12" size-md="8">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Personal Information</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list lines="full">
              <ion-item>
                <ion-label>
                  <h3>Gender</h3>
                  <p>{{profile.gender}}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <h3>Blood Type</h3>
                  <p>{{profile.bloodType}}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <h3>Height</h3>
                  <p>{{profile.height}}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <h3>Weight</h3>
                  <p>{{profile.weight}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <ion-card-header>
            <ion-card-title>Medical Information</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list lines="full">
              <ion-item>
                <ion-label>
                  <h3>Allergies</h3>
                  <p *ngFor="let allergy of profile.allergies">{{allergy}}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <h3>Medical Conditions</h3>
                  <p *ngFor="let condition of profile.conditions">{{condition}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Emergency Contact</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list lines="full">
              <ion-item>
                <ion-label>
                  <h3>Name</h3>
                  <p>{{profile.emergencyContact.name}}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <h3>Relationship</h3>
                  <p>{{profile.emergencyContact.relationship}}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <h3>Phone</h3>
                  <p>{{profile.emergencyContact.phone}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Primary Physician</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list lines="full">
              <ion-item>
                <ion-label>
                  <h3>Name</h3>
                  <p>{{profile.primaryPhysician.name}}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <h3>Specialty</h3>
                  <p>{{profile.primaryPhysician.specialty}}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <h3>Phone</h3>
                  <p>{{profile.primaryPhysician.phone}}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <h3>Address</h3>
                  <p>{{profile.primaryPhysician.address}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Insurance Information</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list lines="full">
              <ion-item>
                <ion-label>
                  <h3>Provider</h3>
                  <p>{{profile.insurance.provider}}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <h3>Policy Number</h3>
                  <p>{{profile.insurance.policyNumber}}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <h3>Group Number</h3>
                  <p>{{profile.insurance.groupNumber}}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <h3>Phone</h3>
                  <p>{{profile.insurance.phone}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

