.result-value {
  display: flex;
  align-items: center;
  margin: 4px 0;
  
  span {
    margin-right: 8px;
    font-weight: 500;
    
    &.normal {
      color: var(--ion-color-success);
    }
    
    &.high, &.low {
      color: var(--ion-color-warning);
    }
    
    &.critical {
      color: var(--ion-color-danger);
    }
  }
}

