<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-wrapper">
    <ion-list>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>Account</ion-label>
        </ion-item-divider>

        <ion-item button detail (click)="editProfile()">
          <ion-icon
            name="person-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-label>Edit Profile</ion-label>
        </ion-item>

        <ion-item button detail (click)="changePassword()">
          <ion-icon
            name="lock-closed-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-label>Change Password</ion-label>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>Data & Privacy</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-icon
            name="cloud-upload-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-label>Automatic Backup</ion-label>
          <ion-toggle
            [(ngModel)]="settings.automaticBackup"
            slot="end"
          ></ion-toggle>
        </ion-item>

        <ion-item button detail (click)="manageDataSharing()">
          <ion-icon
            name="share-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-label>Data Sharing Preferences</ion-label>
        </ion-item>

        <ion-item button detail (click)="exportData()">
          <ion-icon
            name="download-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-label>Export Medical Data</ion-label>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>Notifications</ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-icon
            name="calendar-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-label>Appointment Reminders</ion-label>
          <ion-toggle
            [(ngModel)]="settings.appointmentReminders"
            slot="end"
          ></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-icon
            name="fitness-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-label>Vaccination Reminders</ion-label>
          <ion-toggle
            [(ngModel)]="settings.vaccinationReminders"
            slot="end"
          ></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-icon
            name="flask-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-label>Lab Results Notifications</ion-label>
          <ion-toggle
            [(ngModel)]="settings.labResultsNotifications"
            slot="end"
          ></ion-toggle>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>Integrations</ion-label>
        </ion-item-divider>

        <ion-item button detail (click)="connectLab('esculab')">
          <ion-icon name="link-outline" slot="start" color="primary"></ion-icon>
          <ion-label>Connect to Esculab</ion-label>
          <ion-note slot="end" *ngIf="settings.esculabConnected" color="success"
            >Connected</ion-note
          >
        </ion-item>

        <ion-item button detail (click)="connectHealthDevice()">
          <ion-icon
            name="pulse-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-label>Connect Health Devices</ion-label>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>About</ion-label>
        </ion-item-divider>

        <ion-item button detail (click)="showAbout()">
          <ion-icon
            name="information-circle-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-label>About CliniCore</ion-label>
        </ion-item>

        <ion-item button detail (click)="showPrivacyPolicy()">
          <ion-icon
            name="document-text-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-label>Privacy Policy</ion-label>
        </ion-item>

        <ion-item button detail (click)="showTermsOfService()">
          <ion-icon
            name="document-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-label>Terms of Service</ion-label>
        </ion-item>
      </ion-item-group>
    </ion-list>

    <div class="logout-container">
      <ion-button expand="block" color="danger" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Log Out
      </ion-button>
    </div>
  </div>
</ion-content>
