<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container page-wrapper">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Welcome to CliniCore</ion-card-title>
        <ion-card-subtitle>Your medical data in one place</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Access all your medical information.</p>
      </ion-card-content>
    </ion-card>

    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="8">
          <ion-card>
            <ion-card-header>
              <ion-row>
                <ion-col size-md="10"
                  ><ion-card-title>Medical Documents</ion-card-title></ion-col
                >
                <ion-col size-md="2"
                  ><ion-button fill="clear" size="small">
                    <ion-icon name="add-outline" slot="end"></ion-icon>
                    Add New
                  </ion-button></ion-col
                >
              </ion-row>
            </ion-card-header>
            <ion-card-content>
              <app-main-dashboard-records
                [records]="recentRecords()"
              ></app-main-dashboard-records>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="4">
          <ion-card (click)="navigate('tabs/doctor-access')">
            <ion-card-header>
              <ion-card-title>Recent Doctor Accesses</ion-card-title>
            </ion-card-header>
            <ion-card-content class="no-padding">
              <ion-list lines="full">
                <app-doctor-access-card
                  *ngFor="let access of recentAccesses()"
                  [access]="access"
                >
                </app-doctor-access-card>

                <ion-item *ngIf="recentAccesses().length === 0" lines="none">
                  <ion-label class="ion-text-center">
                    <p>No recent doctor accesses</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <app-esculab-dashboard-card
            [isConnected]="isEsculabConnected()"
            [recentResults]="recentLabResults">
          </app-esculab-dashboard-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
